article{
    border: 1px;
    border-radius: 5%;
    background-color: rgb(54, 54, 54);
    color: aliceblue;
    width: 25em;
    padding: 2em;
    margin: 3px;
}

article h2{
    display: flex;
    justify-content: center;
}

article p{
    display: flex;
    justify-content: center;
    
}
article p span{
    font-weight: bolder;
    
}