@if(detail) {
    <article>
        <div><h2>{{detail.firstname}} {{detail.surname}}</h2></div>
        <div>
            <p><span>Student id: </span> {{detail.id}}</p>
            <p><span>Date of Birth: </span> {{detail.dob}}</p>
            <p><span>Sex: </span> {{detail.sex}}</p>
            <p><span>isPref: </span> {{detail.pref}}</p>
            <p><span>background: </span> {{detail.background}}</p>
            <p><span>education: </span> {{detail.education}}</p>
            <p><span>class: </span> {{detail.classId}}</p>
            <p><span>house: </span> {{detail.houseId}}</p>
            <p></p>
        </div>
    </article>
}